<% include ../partials/header %> <!-- ".." means one folder back -->

    <header class="jumbotron"> <!--for header tag, no difference but a div except semantic meaning-->
    <div class="container"> <!--This inside container will give the text inside the jumbotron some space rather than being squeezed against the edge when minimize-->
        <h1>Welcome to the PhotoForum!</h1>
        <p>Gorgeous scenery, special insights and more.</p>
        <p>
            <a class="btn btn-primary btn-large" href="/photos/new">Submit a photo</a>
        </p>
    </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap">
        <% photos.forEach(function(photo){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= photo.image %>">
                    <div class="caption">
                        <h4><%= photo.name %></h4>
                    </div>
                    <p>
                        <a href="/photos/<%= photo._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>        
    </div>
    
<% include ../partials/footer %>
